@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.mainContainer {
	background-color: hsl(234, 29%, 20%);
	max-width: 75em;
	max-height: 55em;
	/* top | right | bottom | left */
	padding: 1em;
}

.container {
	position: relative;
	width: 77%;
	max-width: 70em;
	height: 38em;
	padding-top: 1em;
	margin: 15em;
	border-radius: 2.5em;
	background-color: hsl(0, 0%, 100%);
}

.eMailA {
	font-weight: 600;
}

.textBox {
	height: 2em;
	font-size: 1em;
	border-radius: 0.5em;
}

.update {
	font-size: 3em;
	font-weight: 700;
	padding-left: 1.9em;
	margin-top: 1.2em;
}

.monthlyUpdates {
	padding-top: 2em;
	padding-left: 2.6em;
}

.productList {
	padding: 0;
}

.imgSide {
	position: absolute;
	left: 30em;
}

.attribution {
	font-size: 0.7em;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.subBtn {
	background-color: hsl(234, 29%, 20%);
	color: hsl(0, 0%, 100%);
	/* top | right | bottom | left */
	padding: 0.75em 2em 0.75em 2em;
	margin-top: 2em;
	border-radius: 0.5em;
}
